.trim {
    overflow: hidden;
    width: 140px;
    height: 140px;
    position: relative;
}

.trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.inner {
    position: relative;
}

.inner div {
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    font-size: 32px;
}

.inner img {
    width: 100%;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
}
.displaynone {
    display:none;
}
.linebreak {
     word-wrap:break-word;
}
.maincol {
    max-width: calc(100% - 250px);
}
@media screen and (max-width: 767px) {
  .maincol {
      min-width: 100%;
  }
}
